<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div id="background">
        <div id="page">
            {{> header meals="meals"}}
            <div id="contents">
                <div class="box">
                    <div class="body">
                        <h1>Meals</h1>
                        <ul id="foods">
                            {{#each meals}}
                            <li>
                                <h2>{{this.name}}</h2>
                                <div class="infos">
                                    <a href="/meals"><img src="images/{{this.image}}" alt="Meal Image"></a>
                                    <p><span>{{this.subtitle}}</span> {{this.description}}</p>
                                    <span class="price">Price: ${{this.price}}</span>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>
    </div>
</body>
</html>
