<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div id="background">
        <div id="page">
            {{> header news="news"}}
            <div id="contents">
                <div class="box">
                    <div class="body">
                        <h1>News</h1>
                        <ul id="news">
                            {{#each news}}
                            <li>
                                <h2>{{this.headline}}</h2>
                                <span>{{this.date}} by {{this.author}}</span>
                                <p>{{{this.content}}}</p>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>
    </div>
</body>
</html>
