<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <div id="background">
        <div id="page">
            {{> header travel="travel"}}
            <div id="contents">
                <div class="box">
                    <div>
                        <div class="body">
                            <h1>Travel</h1>
                            <ul id="sites">
                                {{#each trips}}
                                <li>
                                    <!-- Link image to the API endpoint for JSON data -->
                                    <a href="/api/trips/{{this.code}}">
                                        <img src="images/{{this.image}}" alt="{{this.name}}">
                                    </a>
                                    <!-- Link name to a readable travel page if required -->
                                    <h2><a href="/travel/{{this.code}}">{{this.name}}</a></h2>
                                    <p><strong>Duration:</strong> {{this.length}}</p>
                                    <p><strong>Start Date:</strong> {{this.start}}</p>
                                    <p><strong>Resort:</strong> {{this.resort}}</p>
                                    <p><strong>Price per Person:</strong> ${{this.perPerson}}</p>
                                    {{{this.description}}} <!-- Rendered as HTML for formatted description -->
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>
    </div>
</body>
</html>
